* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', sans-serif;
}

header {
  background-color: #5f27cd;
  padding: 16px 0;
  color: #fff;
  display: flex;
  border-bottom: 16px solid #341f97;
  justify-content: center;
  text-transform: uppercase;
  font-style: italic;
}

header button {
  margin-left: 16px;
}

form {
  background-color: #c8d6e5;
  padding: 24px 0;
  text-align: center;
  display: none;
}

form h2 {
  margin-bottom: 16px;
}

input {
  padding: 8px;
  border: none;
  border-radius: 10px 0 0 10px;
  border-left: 2px solid #009432;
  transition: all ease .4s;
}

input:hover {
  border-left: 6px solid #009432;
}

button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 8px;
  text-transform: uppercase;
  color: #fff;
  transition: all ease .4s;
}

#nova-Imagem {
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  border-bottom: 6px solid #000000;
}

#nova-Imagem:hover {
  background-color: #000;
  color: #fff;
  border-bottom: 2px solid #fff;
}

#botao-adicionar {
  background-color: #009432;
}

#botao-adicionar:hover {
  background-color: #fff;
  color: #009432;

}

#botao-cancelar {
  background-color: #fff;
  color: red;
  border-radius: 0 10px 10px 0;
}

#botao-cancelar:hover {
  background-color: red;
  color: #fff;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  max-width: 25%;
  list-style: none;
  position: relative;
  max-height: 280px;
  overflow-y: hidden;
}

ul li img {
  width: 100%;
}

.overlay-imagem-link {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all ease .5s;
}

.overlay-imagem-link a {
  color: #fff;
  text-decoration: none;
}

ul li:hover .overlay-imagem-link {
  opacity: 1;
}